* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* Variabels */
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  font-family: "Red Hat Display", sans-serif;

  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--pale-blue);
  background-position: top;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card {
  width: 88%;
  margin-top: 7rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 10px 10px 20px hsl(245, 75%, 52%, 0.1),
    15px 15px 30px hsl(245, 75%, 52%, 0.1);
}

.hero {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 900;
}

.description {
  color: var(--desaturated-blue);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.6rem 1rem;
  line-height: 2.4rem;
  text-align: center;
}

.plan-card {
  width: 100%;
  background-color: var(--very-pale-blue);
  border-radius: 1.5rem;
  margin: 0.8rem 0;
  padding: 1.6rem 1.2rem;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.payment-plan {
  color: var(--dark-blue);
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.price {
  color: var(--desaturated-blue);
  font-size: 1.4rem;
  font-weight: 700;
  opacity: 0.5;
}

.btn-change {
  color: var(--bright-blue);
  font-size: 1.3rem;
  font-weight: 700;
}
.btn-change:hover {
  text-decoration: none;
  opacity: 0.75;
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  padding: 1.5rem;
  /* I change margin to 1.8 rather than 1.5 */
  margin: 1.8rem;
  background-color: var(--bright-blue);
  border-radius: 1rem;

  cursor: pointer;

  box-shadow: 10px 10px 20px hsl(245, 75%, 52%, 0.15),
    15px 15px 30px hsl(245, 75%, 52%, 0.15);
}

.primary:hover {
  opacity: 0.7;
}

.primary a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.secondary {
  /* I change padding to 0.6 rather than 0.8 */
  padding: 0.6rem;
}

.secondary a {
  color: var(--desaturated-blue);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}
.secondary a:hover {
  color: var(--dark-blue);
}
